.mainClass{
    height: 600px;
}

.contents{
    width: 100%;
    height: 100%;
    display: flex;
}

.sedap{
    /* overflow-y: auto; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px
}

.isinye{
    width: 95%;
    background-color: rgb(236, 236, 236);
    overflow-y: auto;
}

.cardisinye{
    height: auto;
    width: 65%;
    margin: 18px;
    float: left;
    background-color: aqua;
    border-radius: 0.7em;
    padding: 10px;
    
}

.transItem{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: deeppink;
    margin-bottom: 8px;
    border-radius: 0.6em;
    height: 90px;
    overflow: hidden;
    
}

.imagecontainer{
    width: 18%;
}

.imagetrans{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0.7em
}

.kandangbelanja{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: brown;
    border-radius: 0.7em;
    padding: 10px;

}

.textkandang {
    padding-left: 10px;
}

.uppercontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: darkgoldenrod;
}

.datecashier{
    flex-direction: column;
    background-color: crimson;
    /* padding-left: 10px; */
}

.date{
    font-size: 17pt;
    font-weight: bold;
}

.cashiera{
    font-size: 13pt;
    font-weight: bold;
    padding: 0px;
}

.series{
    /* margin-right: 0px; */
    /* width: 30%; */
    margin-left: auto;
    padding-right: 10;
    background-color: darkred;
}
.textseries{
    font-size: 20pt;
    font-weight: bold;
}

.datatrans{
    padding-left: 10px;
    /* padding-top: 0; */
    /* margin-top: 0px; */
    background-color: darksalmon;
    /* align-content: flex-start;
    text-align: start; */


}
.nametrans{
    font-size: 17pt;
    background-color: darkseagreen;
}
.pricetrans{}
.quanttrans{}

.subtranscontainer{}
.subtrans{}